.sorting {
    background-image: linear-gradient(var(--lightGreen), var(--white));

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: none;
    }
}

.sortingBoxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}