.SortingDetails {
    display: grid;
    border: 2px solid;
    border-color: var(--green);
    margin: 50px 90px;
    padding: 30px;
    border-radius: 10px;
    p{
        margin: 10px 0;
    }
    span{
        border-radius: 5px;
        padding: 2px;

    }
}