.navigation {
    display: flex;
    background-color: var(--white);
    margin: 30px;
    font-family: var(--navigation);

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    img {
        width: 100%;
        margin: 10px;
    }


    ul {
        display: flex;
        list-style-type: none;
        justify-content: end;
        gap: 20px;
        align-items: center;
    }

    li{
        list-style-type: none;
    }
    a {
        display: flex;
        text-decoration: none;
        align-items: center;

    }

    a:hover {
        color: var(--green);
    }

}



@media (max-width: 750px) {

    .navigation {

        ul {
            flex-direction: column;
        }
    }
}


@media (max-width: 375px) {

    .navigation {

        nav {
            flex-direction: column;
        }

        ul {
            flex-direction: column;
        }

        img {
            margin: 10px;
        }
    }
}